/* 清除内外边距 */
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, /* structural elements 结构元素 */
dl, dt, dd, ul, ol, li, /* list elements 列表元素 */
pre, /* text formatting elements 文本格式元素 */
fieldset, lengend, button, input, textarea, /* form elements 表单元素 */
th, td { /* table elements 表格元素 */
    margin: 0;
    padding: 0;
}

/* 设置默认字体 */
body,
button, input, select, textarea {
    outline: none;
    /* for ie */
    /*font: 12px/1 Tahoma, Helvetica, Arial, "宋体", sans-serif;*/
    font: 12px/1  Microsoft Yahei, Tahoma, Helvetica, Arial, "\5b8b\4f53", sans-serif; /* 用 ascii 字符表示，使得在任何编码下都无问题 */
}

h1 { font-size: 18px; /* 18px / 12px = 1.5 */ }
h2 { font-size: 16px; }
h3 { font-size: 14px; }
h4, h5, h6 { font-size: 100%; }

address, cite, dfn, em, var { font-style: normal; } /* 将斜体扶正 */
code, kbd, pre, samp, tt { font-family: "Courier New", Courier, monospace; } /* 统一等宽字体 */
small { font-size: 12px; } /* 小于 12px 的中文很难阅读，让 small 正常化 */

/* 重置列表元素 */
ul, ol { list-style: none; }

/* 重置文本格式元素 */
a { text-decoration: none; }
a:hover { text-decoration: underline; }

abbr[title], acronym[title] { /* 注：1.ie6 不支持 abbr; 2.这里用了属性选择符，ie6 下无效果 */
    border-bottom: 1px dotted;
    cursor: help;
}

q:before, q:after { content: ''; }

/* 重置表单元素 */
legend { color: #000; } /* for ie6 */ 
fieldset, img { border: none; } /* img 搭车：让链接里的 img 无边框 */
/* 注：optgroup 无法扶正 */
button, input, select, textarea {
    font-size: 100%; /* 使得表单元素在 ie 下能继承字体大小 */
}

/* 重置表格元素 */
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* 重置 hr */
hr {
    border: none;
    height: 1px;
}


body {
    font-size: 12px;
    font-family: '宋体';
    color: #333;
    background: #ecf0f5;
}

/*详情页底部有通栏foot按钮*/
body.pb50{
    padding-bottom: 50px;
}

a{
    color: #388ce0;
}

a:hover {
    text-decoration: none;
    color: #47a0f8;
}

:after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

/*bootstrap class重写*/
label,th{
    font-weight: normal;
}

.form-control{
    padding:0 6px;
    font-size: 12px;
}

.form-control[readonly] {
    background-color: #FFF;
}

.pagination > .active > a, .pagination > .active > a:focus, .pagination > .active > a:hover, .pagination > .active > span, .pagination > .active > span:focus, .pagination > .active > span:hover {
    background: #eee;
    color: #666;
    border: 1px solid #ddd;
}

.pagination > li > a, .pagination > li > span {
    color: #666;
}

.pagination > li > a:hover {
    color: #666;
}

.dropdown-menu > .active > a, .dropdown-menu > .active > a:focus, .dropdown-menu > .active > a:hover {
    background: #eee;
    color: #666;
}


.bootstrap-table .table > thead > tr > th{
    border-bottom: none;
}

.commonTable .fixed-table-toolbar{
    position: absolute;
    right:1%;
    top:20px;
}

.simpleTable .fixed-table-toolbar{
    position: absolute;
    right:1%;
    top:0;
}

.fixed-table-container thead th .th-inner, .fixed-table-container tbody td .th-inner{
    padding: 4px 8px;
}


@media screen and (max-width: 1320px) {
    .fixed-table-toolbar{
        display: none;
    }
}

.table > tbody > tr > td, .table > tbody > tr > th, .table > tfoot > tr > td, .table > tfoot > tr > th, .table > thead > tr > td, .table > thead > tr > th {
    vertical-align: middle;
    white-space: nowrap;
}

.table > thead > tr > th{
    color: #999;
}

.panel{
    margin: 0 auto 10px auto;
    width: 98%;

}

input[type=checkbox], input[type=radio]{
    margin-top: 0;
}

.checkbox input[type=checkbox], .checkbox-inline input[type=checkbox], .radio input[type=radio], .radio-inline input[type=radio]{
    margin-left: -15px;
}


.btn-red{
    color: #fff;
    background-color: #c7181e;
    border-color: #b90f15;
}

.btn-red:hover{
    color: #fff;
    background-color: #b4090f;
    border-color: #a8040a;
}

.btn-blue{
    color: #fff;
    background-color: #4997e5;
    border-color: #4492e0;
}

.btn-blue:hover{
    color: #fff;
    background-color: #3485d6;
    border-color: #297acb;
}

.btn-iconBlue{
    border: none;
    background: none;
    color: #4997e5;
}

.btn-iconGray{
    border: none;
    background: none;
    color: #666;
}

.btn-iconBlue i{
    font-size: 20px;
}

.btn-iconGray i{
    font-size: 20px;
}

.btn-iconBlue:hover{
    color: #3485d6;
    background: #eaf4fb;
}

.btn-iconGray:hover{
    background: #eee;
}

/*body 加hasright 代表有右侧操作*/
.hasright{
   clear: both;
   padding-bottom: 50px;
}

.hasright .panel{
    float: left;
    margin-left: 1%;
    width: 95%;
}


.green{
    color: #4fb50b;
}

.red{
    color:#c7181e;
}

.yellowbg{
    background: #fbfcf0;
}


.ml20{
    margin-left: 20px;
}

.ml30{
    margin-left: 30px;
}

.mr30{
    margin-right: 30px;
}

.mr10{
    margin-right: 10px;
}

.mt10{
    margin-top: 10px;
}

.mb10{
    margin-bottom: 10px;
}

.w100{
    width: 100px;
    box-sizing: border-box;
}

.w120{
    width: 120px;
    box-sizing: border-box;
}

.w254{
    width: 254px;
    box-sizing: border-box;
}

.w280{
    width: 280px;
    box-sizing: border-box;  
}

.w180{
    width: 180px;
    box-sizing: border-box;  
}

.w160{
    width: 160px;
    box-sizing: border-box;  
}

.mtb10{
    margin:10px auto;
    overflow: hidden;
}

.h20{
    height: 20px;
}

.h25{
    height: 25px;
}

.dateicon {
    background: url(../images/dateicon.png) no-repeat center right 4px;
}




/*弹层按钮修改*/

.layui-layer-btn .layui-layer-btn0{
    color: #fff !important;
    background-color: #4997e5 !important;
    border-color: #4492e0 !important;
    font-weight: 400;
    border-radius: 3px;
}

.layui-layer-btn .layui-layer-btn1{
    color: #333 !important;
    background-color: #f1f1f1 !important;
    border-color: #dedede !important;
    font-weight: 400;
    border-radius: 3px;
}

/*通用部分*/
.head{
    background: #FFF;
    height: 80px;
    padding-top: 10px;
    border-bottom:1px solid #eee ;
    margin-bottom:10px;
}

.head .line{
    float: left;
    width: 1px;
    height: 60px;
    background: #eee;
}

.head .operation{
    float: left;
}

.head .operation .group{
    height: 35px;
}

.head .operation .group label{
    float: left;
    width: 70px;
    text-align: right;
    margin-right: 5px;
    line-height: 25px;
    color: #999;
}

.head .operation .group input{
    float: left;
    font-size: 12px;
}
.head .operation .group span{
    float: left;
    line-height: 25px;
    margin: 0 5px;
    color: #333;
}

.head .operation > button{
    height: 60px;
    width: 80px;
    border-radius: 5px;
    margin-right: 10px;
}


.head .operation > button i{
    display: block;
    margin-bottom: 5px;
}

.head .operation > button .caret{
    position: absolute;
    margin-left: 8px;
}

.head .operation .group .iclose i{
    position: absolute;
    right:20px;
    top:6px;
    color: #999;
    cursor: pointer;
}

.head .operation .group .iclose i:hover{
     color: #c7181e;
}


.main{
    width: 99%;
    margin:0 auto 10px;
    background: #FFF;
    padding: 10px;
    border-radius: 5px;
    border-top: 3px solid #d2d6de;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);

}

.foot{
    position: fixed;
    bottom:0;
    height: 50px;
    background:#FFF;
    width: 100%;
    z-index: 3;
}

.hasright .foot{
    width: 96%;
    float: left;
}

.hasright .foot button{
    margin-right: 0;
    margin-left: 15px;
}

.foot button{
   float: right;
    margin-top: 10px;
    margin-right: 15px;
    padding: 5px 50px;
}

.foot button i{
    margin-right: 5px;
}


.rightRoll{
    position: fixed;
    border: 1px solid #3c89d6;
    border-bottom: none;
    top:150px;
    right:2px;
    z-index: 9999999999;
}


.rightRoll a{
    display: block;
    width: 40px;
    height: 40px;
    background: #fff;
    border-bottom: 1px solid #3c89d6;
    text-align: center;
    line-height: 40px;
    background: rgba(73,151,229, .8);
    color: #FFF;
}

.rightRoll a:hover{
    background: #1c6fc2;
    color: #FFF;
}

.rightRoll a:hover p {
    width: 160px;
    padding-right: 6px;
}

.rightRoll a p{
    top:120px;
    right: 40px;
    position: absolute;
    height: 40px;
    line-height: 40px;
    color: #fff;
    white-space: nowrap;
    text-align: center;
    background: #1c6fc2;
    width: 0;
    padding: 0;
    overflow: hidden;
    -webkit-transition: .25s;
    -moz-transition: .25s;
    transition: .25s;
}


/*详情*/
.speed{
    position: relative;
    background: #FFF;
    padding: 20px 10px 10px;
    z-index: 999;
    margin-top: 20px;
    overflow: hidden;
}

.speed dl{
    float: left;
    margin-right: 30px;
}

.speed dl dt{
    width:16px;
    height: 16px;
    border-radius: 8px;
    background: #9bbff0;
    margin-left: 27px;
    position: relative;
}

.speed dl:last-child{
    margin-right: 0;
}

.speed dl:last-child dt:after{
    border-bottom: none;
    width: auto;
}

.speed dl dt:after{
    content: '';
    position: absolute;
    width:84px;
    border-bottom: 2px dotted #cccccc;
    top:7px;
    left: 15px;
}


.speed dl dd{
    margin-top: 10px;
    color: #333333;
}

.speed dl dd em{
    font-style: normal;
    display: block;
    width:70px;
    text-align: center;
}

.speed dl.no dt{
    background: #b7b7b7;
}

.speed dl.no dd em{
    color: #b7b7b7;
}

.speed dl dd i{
    position: absolute;
    font-style: normal;
    top:0;
    margin-left: -30px;
}


.tableA{
    width: 100%;
    margin-bottom: 0;
}

.hasright .tableA{
    width: 95%;
    margin-left: 1%;
    float: left;
}

.tableA a{
    color: #333;
}

.tableA>thead>tr>th{
    border-bottom: none;
    background: #f5f5f5;
}

.tableA th{
    background: #fafafa;
}

.break-word{
    word-break: break-all;
    white-space:normal;
    word-wrap:break-word;
}

.panel-heading span{
    margin-left: 10px;

}

.panel-heading a{
    color: #333;
}



/* 图片放大缩小 */

.viewer {
    -ms-touch-action: none;
}

.viewer img{
    cursor: move;
}


.bottomBlack{
    height: 45px;
    width: 100%;
    background: rgba(0,0,0, .5);
    position: absolute;
    bottom: 0;
}

.iviewer_common {
    position:absolute;
    bottom:10px;
    border: none;
    height: 24px;
    z-index: 5000;
}

.iviewer_button {
    width: 24px;
    cursor: pointer;
    background-repeat: no-repeat;
}

.iviewer_zoom_in {
    left: 20px;
    background: url(../images/iviewer.zoom_in.png);
}

.iviewer_zoom_out {
    left: 55px;
    background: url(../images/iviewer.zoom_out.png);
}

.iviewer_zoom_zero {
    left: 90px;
    background: url(../images/iviewer.zoom_zero.png);
}

.iviewer_zoom_fit {
    left: 125px;
    background: url(../images/iviewer.zoom_fit.png);
}

.iviewer_rotate_down {
    position: absolute;
    bottom: 10px;
    left:296px;
    width: 24px;
    height: 24px;
    border:none;
    cursor: pointer;
    z-index: 2;
    background: url(../images/iviewer.zoom_down.png);
}

.iviewer_zoom_status {
    left: 160px;
    font: 1em/28px Sans;
    color: #000;
    background:rgba(255,255,255, .2);
    border: 1px solid #222;
    text-align: center;
    width: 60px;
    height: 26px;
    bottom: 9px;
}

.iviewer_rotate_left {
    left: 229px;
    background:url(../images/iviewer.rotate_left.png);
}

.iviewer_rotate_right {
    left: 262px;
    background:url(../images/iviewer.rotate_right.png);
}
/*组*/

.together{
    float: left;
    margin-top: 10px;
}



.together label{
    float: left;
    width: 75px;
    text-align: right;
    margin-right: 5px;
    margin-top: 6px;
    color: #999;
}


.together select{
    float: left;
}


.together input{
    float: left;
}

.together label span{
    color: #c7181e;
}


/*弹层里的表格/按钮*/

.layerButton{
    margin-bottom: 20px;
    float: right;
    margin-top: 15px;
    margin-right: 18px;
}


.layerButton > button{
    width: 100px;
    margin-left: 10px;
}

.layerButton > button i{
    margin-right: 5px;
}

.searchOpen{
    margin-bottom: 20px;
    overflow: hidden;
}

.searchOpen .openOperation{
    overflow: hidden;
    margin-bottom: 10px;
}

.searchOpen .openButton{
    float: left;
    margin-top: 10px;
}

.openButton > button{
    float: left;
    margin-left: 10px;
    padding: 3px 10px;
    font-size: 12px;
    line-height: 1.5;
    border-radius: 3px;
}

.openButton > button i{
    margin-right: 5px;
}

.searchOpen .openTable{
    width: 97%;
    margin: 0 auto;
    border-bottom: 1px solid #eee ;
    padding-bottom: 5px;
}

/*input如果有图标*/

.has-feedback > i{
    position: absolute;
    right: 5px;
    top:6px;
    color: #999;
}




/*更多搜索*/
.moresearch{
    margin-left: 30px;
    font-size: 12px;
    font-family: "Microsoft Yahei", "微软雅黑";
    color: #666;
    margin-top: 25px;
    cursor: pointer;
}

.moresearch b{
    float: left;
    font-weight: normal;
}

.moresearch span{
    float: left;
    margin-left: 3px;
    margin-top: -2px;
}


/*搜索弹层*/

.searchLayer{
    position: absolute;
    width: 500px;
    padding-top: 10px;
    border: 1px solid rgba(0,0,0,.15);
    background: #FFF;
    z-index: 2;
    border-radius:4px;
    margin-left: -194px;
    -webkit-box-shadow: 0 6px 12px rgba(0,0,0,.175);
    box-shadow: 0 6px 12px rgba(0,0,0,.175);
    margin-top: 44px;
    color: inherit;

}


.searchLayer.opensright:before {
    left: 230px;
}

.searchLayer:before {
    top: -7px;
    border-right: 7px solid transparent;
    border-left: 7px solid transparent;
    border-bottom: 7px solid #ccc;
}
.searchLayer:before, .searchLayer:after {
    position: absolute;
    display: inline-block;
    border-bottom-color: rgba(0, 0, 0, 0.1);
    content: '';
}


.searchLayer.opensright:after {
    left: 231px;
}
.searchLayer:after {
    top: -6px;
    border-right: 6px solid transparent;
    border-bottom: 6px solid #fff;
    border-left: 6px solid transparent;
}
.searchLayer:before, .searchLayer:after {
    position: absolute;
    display: inline-block;
    content: '';
}


.box{
    position: relative;
    border-radius: 5px;
    background: #ffffff;
    border-top: 3px solid #d2d6de;
    margin:0 auto 10px;
    width: 99%;
    box-shadow: 0 1px 1px rgba(0,0,0,0.1);
    overflow: hidden;
}

.box-header.with-border {
    border-bottom: 1px solid #f4f4f4;
}

.box-header {
    color: #444;
    display: block;
    padding: 10px;
    position: relative;
}

.box-title span{
    margin-left: 10px;
    font-weight: normal;
    font-size: 12px;
}

.box-body {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    padding: 10px;
}

.box-footer {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-bottom-right-radius: 3px;
    border-bottom-left-radius: 3px;
    border-top: 1px solid #f4f4f4;
    padding: 10px;
    background-color: #fff;
}

/*下拉多选*/

.ms-options-wrap,
.ms-options-wrap * {
    box-sizing: border-box;
    font-family:Arial, Helvetica, sans-serif;
    font-size:14px;
}

.ms-options-wrap{
    float: left;
    width: 160px;
}

.ms-options-wrap > button:focus,
.ms-options-wrap > button {
    position: relative;
    width: 100%;
    text-align: left;
    border: 1px solid #ccc;
    background-color: #fff;
    border-radius: 4px;
    height: 23px;
    padding: 0 3px;
    margin-top: 1px;
    font-size: 13px;
    color: #333;
    outline: none;
    white-space: nowrap;
}

.ms-options-wrap > button:after {
    content: ' ';
    height: 0;
    position: absolute;
    top: 50%;
    right: 5px;
    width: 0;
    border: 6px solid rgba(0, 0, 0, 0);
    border-top-color: #999;
    margin-top: -3px;
}

.ms-options-wrap > .ms-options {
    position: absolute;
    left: 0;
    width: 100%;
    margin-top: 1px;
    margin-bottom: 20px;
    background: white;
    z-index: 2000;
    border: 1px solid #aaa;
}

.ms-options-wrap > .ms-options > .ms-search input {
    width: 100%;
    padding: 4px 5px;
    border: none;
    border-bottom: 1px groove;
    outline: none;
}

.ms-options-wrap > .ms-options .ms-selectall {
    display: inline-block;
    font-size: .9em;
    text-transform: lowercase;
    text-decoration: none;
}
.ms-options-wrap > .ms-options .ms-selectall:hover {
    text-decoration: underline;
}

.ms-options-wrap > .ms-options > .ms-selectall.global {
    margin: 4px 5px;
}

.ms-options-wrap > .ms-options > ul > li.optgroup {
    padding: 5px;
}
.ms-options-wrap > .ms-options > ul > li.optgroup + li.optgroup {
    border-top: 1px solid #aaa;
}

.ms-options-wrap > .ms-options > ul > li.optgroup .label {
    display: block;
    padding: 5px 0 0 0;
    font-weight: bold;
}

.ms-options-wrap > .ms-options > ul label {
    position: relative;
    display: inline-block;
    width: 100%;
    padding: 4px;
    margin: 1px 0;
    color: #666;
}

.ms-options-wrap > .ms-options > ul li.selected label,
.ms-options-wrap > .ms-options > ul label:hover {
    background-color: #efefef;
}

.ms-options-wrap > .ms-options > ul input[type="checkbox"] {
    margin-right: 5px;
    position: absolute;
    left: 4px;
    top: 7px;
}